body {
 background-image: url(/static/VWTile.png);
 background-repeat: repeat;
 font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #00D3DD
}

a:visited {
    color: #006399
}

#left {
    float: left;
}

#right {
    float: Right;
}

#headspace {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    background-color: #FFA7D1;
}

#content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFA7D1;
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

#index {
    text-align: center;
}
#cornering {
    position: absolute;
    left: 4px;
    bottom: 5px;
    height: 50px;
    width: 50px;
}
