<link rel=stylesheet type=text/css href="{{ url_for('static', filename='vwstyle.css') }}">
<html>
<div id="headspace">
    <p><a href=/vw><img src="{{ url_for('static', filename='VWLatticeTitle.png') }}"></img></a></br>
    <a href=/vwstory><img src={{ url_for('static', filename='VWStoryButton.png') }}></img></a> 
    <img src={{ url_for('static', filename='VWDivider.png') }}></img> 
    <a href=/vwwall><img src={{ url_for('static', filename='VWHoFButton.png') }}></img></a> 
    <img src={{ url_for('static', filename='VWDivider.png') }}></img> 
    <a href=/vwexperience><img src={{ url_for('static', filename='VWExpButton.png') }}></img></a> </p>
<h1>{{ title }}</h1>
</div>
{% block content %} {% endblock %}
</html>
