{% extends "vwbase.html" %}
{% block content %}
<div id="content">
    This is the website for the Green Lattice! We are a group of friends formed during Reddit's "Place" April Fools event. This site will serve as an information hub as well as a memorial to the trials and tribulations we faced during Place.</br></br>

    <h1> Cool Links </h1>
    <h2>
    <a href='reddit.com/r/greenlattice'>Subreddit</a></br>
    <a href='https://discord.gg/NnrXj6G'>Discord</a></br>
    Minecraft Server: minecraft.greenlattice.com</br>
    (There's a whitelist, see the discord channel)</br>
    </h2>
</div>
<div id="cornering"><a href='/'><img src='{{ url_for('static', filename='LittleLattice.png') }}'></a></div>
{% endblock %}
